@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(47, 47, 47);
  color: white;
}
.header__image,
.category__image,
.info__image {
  min-width: 15rem;
}

@media only screen and (min-width: 640px) {
  .header__image,
  .category__image,
  .info__image {
    max-width: 12rem;
    min-width: auto;
  }
}
@media only screen and (min-width: 780px) {
  .header__image {
    max-width: 15rem;
  }
}

img {
  border-radius: 1rem;
}

::-webkit-scrollbar-button {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #facc1560;
  transition: 0.5s;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #facc1590;
}
::-webkit-scrollbar {
  height: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(24, 24, 24);
}
