@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 2rem 0;
  background-color: rgb(47, 47, 47);
  color: white;
}
.header__image,
.category__image,
.info__image {
  min-width: 15rem;
}

@media only screen and (min-width: 640px) {
  .header__image,
  .category__image,
  .info__image {
    max-width: 12rem;
    min-width: auto;
  }
}
@media only screen and (min-width: 780px) {
  .header__image {
    max-width: 15rem;
  }
}

img {
  border-radius: 1rem;
}

::-webkit-scrollbar-button {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #facc15;
  border-radius: 1rem;
}
::-webkit-scrollbar {
  height: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(47, 47, 47);
}
